.main-tittle {
    width: 558px;
    color: #003478;
    font-family: Sansation, Times, sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 68px;
}

.main-tittle span {
    color: #FBAA0C;
    font-weight: 7700;
}